.ag-paging-panel {
  height: auto;
  flex-wrap: wrap-reverse;
  row-gap: 1rem;
  padding: 0.30rem;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .ag-paging-panel {
    justify-content: center;
  }
}
